<h1>Edit Product</h1>

<div class="container">
   <form action="/figure/edit/{{ figure._id }}" method="post">
      <label for="">Product Name</label>
      <input type="text" id="" name="name" id="" required value="{{ figure.name }}"">

      <label for="">Product Price</label>
      <input type="text" id="" name="price" id="" required value="{{ figure.price }}"">

      Product brand: <br>
      <select name="brand">
         {{#each brands }}
         <option value="{{ _id }}"> {{ brandName }}</option>
         {{/each}}
      </select>

      Product color: <br>
      <select name="color">
         {{#each colors }}
         <option value="{{ _id }}"> {{ name }}</option>
         {{/each}}
      </select>

      <label for="">Image</label>
      <input type="url" id="" name="image" id="" required value="{{ figure.image }}">
      <img src="{{ figure.image }}" alt="" width="200" height="300">
      <br><br>
      <br><br>
      <input type="submit" value="Save">
   </form>
</div>

<style>
   body {
      font-family: Arial, Helvetica, sans-serif;
   }

   * {
      box-sizing: border-box;
   }

   input[type=url],
   input[type=text],
   select,
   textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
   }

   input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
   }

   input[type=submit]:hover {
      background-color: #45a049;
   }

   .container {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
   }
</style>