<h2>Brand Management</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Brand Name</th>
                <th>Brand Origin</th>
                <th>Partner</th>
                <th>Logo</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
            {{#each brands }}
            <tr>
                <td><a>{{ brandName }}</a></td>
                <td>{{origin}}</td>
                <td>{{partnerName}}</td>
                <td><img src="{{image}}" alt="" width="150" height="160"></td>
                <td>
                    <a class="button-3" href="/brand/edit/{{ _id }}">Edit</a>
                    <a class="button-3" href="/brand/delete/{{ _id }}"
                        onclick="return confirm('Are you sure to delete this brand ?');">Delete</a>
                </td>
            </tr>
            {{/each}}
        <tbody>
    </table>
</div>

<div style="background-color:white;color:white;padding:20px 80px;">
    <a class="button-3" href="/brand/add">Add new brand</a>
    <a class="button-3" href="/brand/deleteall">Delete all</a>
</div>